@page
@model T4_PR1_CristianSala.Pages.ViewSimulationsModel
@{
	ViewData["Title"] = "Simulacions";
}
<p><h1>Llistat de productes</h1></p>

<table class="table">
	<thead>
	<tr>
		<td>ID</td>
		<td>Nom</td>
		<td>Quantitat</td>
		<td>Preu</td>
	</tr>
	</thead>
	<tbody>
	<tr>
		@foreach (var p in Model.MyProducts) 
		{
			<tr>
				<td>@p.Id</td>
				<td>@p.Name</td>
				<td>@p.Quantity</td>
				<td>@p.Price</td>
			</tr>
		}
	</tr>
	</tbody>

	<p>@Model.FileErrorMessage</p>
</table>

<a asp-page="/AddProduct" class="btn btn-primary">Afegir Producte</a>